<div class="container">
    <ng-container *ngIf="true">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>iphone</td>
                            <td>img</td>
                            <td>brandddddd</td>
                            <td>50000</td>
                            <td>1</td>
                            <td>50000</td>
                            <td>
                                <button class="btn btn-danger secondbutton"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
</div
>
<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img style="width: 100px;height:100px" src="https://i.postimg.cc/xTHDMB2W/empty-cart.jpg" alt="">
            <h4>Your cart is empty!!!!</h4>
            <h6>Add item now</h6>
            <button class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>